<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:head>
        <title>Bad Example</title>
        <f:metadata>
            <f:viewParam name="page" value="#{index.page}"/>
            <f:viewParam name="p"/>
        </f:metadata>
    </h:head>
    <h:body>
        <h1>Examples</h1>
        <h2>Example 1</h2>
        <ui:include src="#{index.page}"/>
        <p>
            There should have been a page included above with a generate button that worked. It does not since <br/>
            the expression is evaluated before the scripts are loaded.
        </p>
        <h2>Example 2</h2>
        <ui:include src="#{p}"/>
        <p>
            In this example, we tried to directly bind the &lt;f:viewParam/&gt; p=page1.xhtml to the <code>src</code> attribute.<br/>
            This too was unsuccessful.
        </p>
        <br/>
        <h:button outcome="index" value="Home"/>
    </h:body>
</html>

