<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:head>
        <title>Index</title>
        <f:metadata>
            <f:viewParam name="page" value="#{index.page}"/>
        </f:metadata>
    </h:head>
    <h:body>
        <p>
            These examples use static binding on the &lt;ui:include/&gt; and use the the &lt;ui:fragment/&gt; <code>rendered</code><br/>
            attribute to determine which page to display. Since these elements are evaluated after the component tree is restored, <br/>
            the AJAX will work.
        </p>
        <ui:fragment rendered="#{index.page eq 'page1'}">
            <ui:include src="page1.xhtml"/>
        </ui:fragment>
        <ui:fragment rendered="#{index.page eq 'page2'}">
            <ui:include src="page2.xhtml"/>
        </ui:fragment>
        <h:button id="button1" value="Page 1" outcome="good.xhtml?page=page1"
                  includeViewParams="true"/>
        <br/>
        <h:button id="button2" value="Page 2" outcome="good.xhtml?page=page2"
                  includeViewParams="true"/>
        <br/>
        <h:button outcome="index" value="Home"/>
    </h:body>
</html>