<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <h:head>
        <title>Dynamic Include Examples using &lt;ui:include/&gt;</title>
    </h:head>
    <h:body>
        <h1>Dynamic Include Examples using &lt;ui:include/&gt;</h1>
        <p>
            The examples below demonstrate a couple of common errors, and a simple solution. The solution is not ideal since we<br/>
            include the pages statically, but it does solve the overall problem.
        </p>
        <ul>
            <li><h:button outcome="bad.xhtml?page=page1.xhtml&amp;p=page1.xhtml" value="Bad Example"/></li>
            <li><h:button outcome="good" value="Good Example"/></li>
        </ul>
    </h:body>
</html>

