<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Page1 Component</title>
    </h:head>
    <h:body>
        <ui:component>
            <h:form>
                <p>
                    The generate button below will dynamically output UUID values.
                </p>
                <p>
                    UUID: <h:outputText id="UID" value="#{index.UID}"/>
                </p>
                <h:commandButton id="commandButton1" value="Generate" actionListener="#{index.generate()}">
                    <f:ajax render="UID"/>
                </h:commandButton>
            </h:form>
        </ui:component>
    </h:body>
</html>

